@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,800;1,300&display=swap');

:root {
    --primary-color: #3882F6;
    --secondary-color: #1F2937;
    --primary-text-color: #F9FAF8;
    --secondary-text-color: #E5E7EB;
    --text-size-xs: 10px;
    --text-size-small: 18px;
    --text-size-medium: 24px;
    --text-size-large: 36px;
    --text-size-xl: 48px;
    --text-weight-light: 300;
    --text-weight-normal: 400;
    --text-weight-bold: 800;
}

.bg-dark {
    background-color: var(--secondary-color);
}

.bg-light {
    background-color: var(--secondary-text-color);
}

.bg-primary {
    background-color: var(--primary-color);
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.container {
    padding: 0px 15px 60px 15px;
}

.row {
    max-width: 920px;
    margin: 0 auto;
}

.col {
    flex: 1;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar li {
    margin-left: 20px;
}

.navbar a {
    text-decoration: none;
    color: var(--secondary-text-color);
    font-size: var(--text-size-small);
}

.navbar a:hover {
    color: var(--primary-color);
}

.logo {
    color: var(--primary-text-color);
    font-size: var(--text-size-medium);
    font-weight: var(--text-weight-bold);
}

.hero-section {
    display: flex;
    gap: 20px;
    padding: 32px 0;
    align-items: center;
}

.hero-section div {
    flex: 1;
}

.hero-section h1 {
    font-size: var(--text-size-xl);
    font-weight: var(--text-weight-bold);
    color: var(--primary-text-color);
    margin-top: 0;
}

.hero-section p {
    font-size: var(--text-size-small);
    color: var(--primary-text-color);
}

.hero-section-img img {
    margin-top: 10px;
    max-width: 100%;
}

.hero-section-img span,
.hero-section-img a {
    color: var(--primary-text-color);
}

.img-credits {
    font-size: var(--text-size-xs);
}

p.img-credits {
    max-width: 50%;
    margin: 0 auto;
}

.img-credits a {
    text-decoration: none;
}

.info-section .row {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
}

.info-section h2 {
    font-size: var(--text-size-large);
    color: var(--secondary-color);
    text-align: center;
}

.info-img img {
    width: 120px;
    height: 120px;
    border-radius: 12px;
    object-fit: cover;
}

blockquote {
    padding: 80px 30px;
    color: var(--secondary-color);
}

blockquote p {
    font-size: var(--text-size-medium);
    font-weight: var(--text-weight-light);
    font-style: italic;
}

blockquote footer {
    font-size: var(--text-size-small);
    font-weight: var(--text-weight-bold);
}

blockquote cite {
    font-size: var(--text-size-xs);
}

.cta-banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--primary-text-color);
    border-radius: 12px;
    padding: 20px 80px;
    margin: 86px 0;
}

.cta-banner h2 {
    margin-bottom: 0;
}

.cta-banner p {
    margin-top: 0;
    margin-right: 20px;
}

.btn {
    border: none;
    font-size: var(--text-size-small);
    font-weight: var(--text-weight-bold);
    padding: 8px 26px;
    border-radius: 5px;
}

a.btn {
    text-decoration: none;
}

.btn-primary {
    background-color: var(--primary-color);
    color: var(--primary-text-color);
}

.btn-primary:hover {
    background-color: var(--primary-text-color);
    color: var(--primary-color);
}

.btn-secondary {
    background-color: transparent;
    color: var(--primary-text-color);
    border: 1px solid var(--primary-text-color);
}

.btn-secondary:hover {
    background-color: var(--primary-text-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.footer {
    color: var(--primary-text-color);
    display: flex;
    justify-content: center;
}

.footer a {
    color: var(--primary-text-color);
    text-decoration: none;
}